<h3>Add new ToDo:</h3>

<form (ngSubmit)="frmInsertTodoItem()">
    <div class="form-group">
      <label for="todoTitle">ToDo title</label>
      <input type="text" name="todoTitle" class="form-control" id="todoTitle" [(ngModel)]="inputTodoTitle">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" name="todoCompleted" class="form-check-input" id="todoIsCompleted">
      <label class="form-check-label" for="todoIsCompleted">is this todo completed ?</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>