.red{
    color: red;
}

.square {
    width: 100px;
    height: 100px;
}

.squareRed{
    background-color: red;
    border: 1px solid black;
}

.squareGreen{
    background-color:green;
    border: 1px solid black;
}